In [19]:
from sklearn.preprocessing import LabelEncoder, scale
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
import pandas as pd

## open train and test data

In [5]:
train_csv = pd.read_csv('titanic/train.csv')
test_csv = pd.read_csv('titanic/test.csv')

train_csv.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Ticket</th>
      <th>Fare</th>
      <th>Cabin</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>C85</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>Heikkinen, Miss. Laina</td>
      <td>female</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>STON/O2. 3101282</td>
      <td>7.9250</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>
      <td>female</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
      <td>113803</td>
      <td>53.1000</td>
      <td>C123</td>
      <td>S</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>0</td>
      <td>3</td>
      <td>Allen, Mr. William Henry</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>373450</td>
      <td>8.0500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
  </tbody>
</table>
</div>

## tranform data for machine learning

In [36]:
embarked_lb = LabelEncoder()
embarked_lb.fit(train_csv['Embarked'].fillna('').values)

sex_lb = LabelEncoder()
sex_lb.fit(train_csv['Sex'].values)


def transform(df):
    """transform dataframe"""    
    p_class = df['Pclass'].values
    
    sex = sex_lb.transform(df['Sex'].values)
    
    sib_sp = scale(df['SibSp'].values)
    
    parch = scale(df['Parch'].values)
    
    fare = scale(df['Fare'].fillna(0).values)
    
    have_cabin = [1 if i else 0 for i in df['Cabin'].values]
    
    age = scale(df['Age'].fillna(0).values)
    
    embarked = embarked_lb.transform(df['Embarked'].fillna('').values)
    
    return pd.DataFrame({
        'p_class': p_class,
        'sex': sex,
        'age': age,
        'sib_sp': sib_sp,
        'parch': parch,
        'fare': fare,
        'have_cabin': have_cabin,
        'embarked': embarked
    })


train = transform(train_csv)
label = train_csv['Survived'].values
x_train, x_valid, y_train, y_valid = train_test_split(train, label, test_size=0.20, random_state=42, stratify=label)

/home/faisal/kaggle/.venv/lib/python3.5/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

## Classifier

In [41]:
clf = SVC(kernel='linear', class_weight=None, gamma='auto')
clf.fit(x_train, y_train)
clf.score(x_valid, y_valid)

0.77653631284916202

## Predict

In [38]:
test = transform(test_csv)

result_df = pd.DataFrame({
    "PassengerId": test_csv["PassengerId"].values,
    "Survived": clf.predict(test) 
})
result_df.to_csv("titanic/predictions.csv", index=False)
result_df.head()

/home/faisal/kaggle/.venv/lib/python3.5/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>892</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>893</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>894</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>895</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>896</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
clf.best_params_

{'C': 1000.0}